@model CleanVM;

<body>
    <div class="card shadow border-0 my-4 py-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">

                    <h2 class="text-white py-2"> إضافة التنظيف </h2>
                </div>
            </div>
        </div>
        <form method="post" class="row" enctype="multipart/form-data" asp-action="CreateClean" asp-controller="Clean" id="MyForm">


            <input asp-for="CleanViewModel.CleaningID" hidden />
            <input asp-for="CleanViewModel.BrandFK" hidden />

            <input asp-for="@Model.tredMaeketCleanVM.BrandID" class="form-control" hidden />
            <input asp-for="@Model.tredMaeketCleanVM.ID_Login" class="form-control" hidden />
            <input asp-for="@Model.tredMaeketCleanVM.BrandName" class="form-control" hidden />
            <input asp-for="@Model.tredMaeketCleanVM.Date" class="form-control" hidden />
            <input asp-for="tredMaeketCleanVM.BrandCoverImage" hidden />
            <input asp-for="tredMaeketCleanVM.BrandLogoImage" hidden />
            <input asp-for="tredMaeketCleanVM.BrandFooterImage" hidden />

            @* <input type="hidden" id="order-input" name="PreparationVM.Order" value="0.1" />*@


            <h4 style="text-align:right">المعلومات</h4>

            <div class=" row">
                <div class=" col-md-6 p-2">
                    <div class="form-group">

                        <label asp-for=" CleanViewModel.DeviceName" class="control-label"> اسم التنظيف </label>
                        <input asp-for=" CleanViewModel.DeviceName " class="form-control" />
                        <span asp-validation-for="  CleanViewModel.DeviceName " class="text-danger"></span>
                    </div>
                </div>

                @*الخطوات*@

                <div class="form-group col-4 py-2 ">
                    <h4 style="text-align:right"> الخطوات</h4>
                </div>
                <table id="tblSteps3" class="table table-bordered table-striped" data-Clean-id="@Model.tredMaeketCleanVM.BrandID">

                    <tbody>

                        @* زر إضافة خطوات جديدة *@
                        <tr>
                            <td colspan="1" style="text-align:right;">

                                <button type="button" id="addStepButton9" class="btn btn-success my-3" onclick="AddnewRowstepsNew3('@Model.tredMaeketCleanVM.BrandID')">إضافة خطوات جديدة</button>
                                <div id="redMessage" style="display:none; color:red;">
                                    يجب إدخال خطوة واحدة على الأقل
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="form-group">
                    <input asp-for="CleanViewModel.CleaningID" hidden />
                    <input asp-for="CleanViewModel.BrandFK" hidden />
                    <label asp-for="CleanViewModel.Note" class="control-label"> ملاحظة </label>
                    <textarea asp-for="@Model.CleanViewModel.Note" id="Note" class="form-control mt-2"> </textarea>
                </div>
            </div>

            <div class="form-floating py-2 col-12">
                @{
                    var sortedCleaningName = Model.CleaningVMorder.OrderBy(item => item.CleaningOrder).ToList();
                }
                <select asp-for="CleanViewModel.CleaningID" class="form-select" id="selectCleaning" name="selectCleaning">
                    <option value="" disabled selected>-- اختر مكان الصف الجديد--</option>
                    @foreach (var item in sortedCleaningName)
                    {
                        <option value="@item.CleaningID">  @item.DeviceName   </option>
                    }
                    <option value="0">اخر صف</option> <!-- The "Other" option -->
                </select>
            </div>

            <div class="modal-footer">

                <input type="submit" value=" حفظ" asp-route-id="@Model.tredMaeketCleanVM.BrandID"
                       style="text-align:center" class="btn btn-primary me-3" id="submitButton2" />
            </div>
        </form>

    </div>
</body>

@section Scripts {

    <script src="~/Js/Clean/AddDLTsteps3.js"></script>
    <script src="~/Js/Clean/Deletelist3.js"></script>
}