@model CleanVM;

<body>
    <div class="card shadow border-0 my-4 py-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">

                    <h2 class="text-white py-2"> تعديل التنظيف </h2>
                </div>
            </div>
        </div>

                <form method="post" class="row" enctype="multipart/form-data" asp-action="Upsert3" asp-controller="Clean">


                    <input asp-for="CleanViewModel.CleaningID" hidden />
                    <input asp-for="CleanViewModel.BrandFK" hidden />
                    <input asp-for="CleanViewModel.CleaningOrder" hidden />


                    @*added this class main-container-table*@
                    <div class="main-container-table">

                        <div>
                            <h4 style="text-align:right">المعلومات</h4>
                        </div>
                        <div class=" row">
                            <div class=" col-md-6 p-2">
                                <div class="form-group">

                                    <label asp-for=" CleanViewModel.DeviceName" class="control-label"> اسم التنظيف </label>
                                    <input asp-for=" CleanViewModel.DeviceName " class="form-control" />
                                    <span asp-validation-for="  CleanViewModel.DeviceName " class="text-danger"></span>
                                </div>
                            </div>


                            @*الخطوات*@

                            <div class="form-group col-4 py-2 ">
                                <h4 style="text-align:right"> الخطوات</h4>
                            </div>
                            <table id="tblSteps3" class="table table-bordered table-striped" data-Cleaning-id="@Model.CleanViewModel.CleaningID">

                                <tbody>
                                    @if (Model.CleanViewModel.CleaningID != 0)
                                    {
                                        for (int i = 0; i < Model.CleaningSteps.Count; i += 2) // Increment by 2
                                        {
                                            <tr>
                                                @for (int j = i; j < i + 2 && j < Model.CleaningSteps.Count; j++) // Loop twice for two steps
                                                {
                                                    var itemStep = Model.CleaningSteps[j];

                                                    <td style="text-align:center;">
                                                        <input asp-for="@itemStep.CleaStepsID" name="CleaningSteps[@j].CleaStepsID" hidden />
                                                        <input type="hidden" asp-for="@itemStep.CleaningFK" name="CleaningSteps[@j].CleaningFK" />
                                                        <input asp-for="@itemStep.CleaStepsImage" name="CleaningSteps[@j].CleaStepsImage" hidden />
                                                        <input asp-for="@itemStep.CleaStepsNum" name="CleaningSteps[@j].CleaStepsNum" hidden />

                                                        @if (!string.IsNullOrEmpty(itemStep.CleaStepsImage) || !string.IsNullOrEmpty(itemStep.CleaText))
                                                        {
                                                            <div class="py-5">
                                                                <button type="button" class="btn btn-danger delete-button"
                                                                        id="deleteButton_@j"
                                                                        onclick="Deletestep3(@itemStep.CleaStepsID)">
                                                                    حذف
                                                                </button>
                                                            </div>
                                                            <div class="col-12 text-center">
                                                                <div>
                                                                    @itemStep.CleaStepsNum
                                                                </div>
                                                                <div>
                                                                    <img src="@Url.Content("~/IMAGES/" + Model.CleanViewModel.BrandFK + "/Cleaning/" + itemStep.CleaStepsID + "/" + itemStep.CleaStepsImage)"
                                                                         id="PreviewPhoto1_@itemStep.CleaStepsID" width="125" height="125" style="border: 1px; margin-top: 20px;">
                                                                </div>
                                                                <div class="form-group mt-2">
                                                            <input type="file" name="file1_@itemStep.CleaStepsNum" class="border-0 shadow mt-5" id="customFile1_@itemStep.CleaStepsNum"
                                                                   data-preview-id="PreviewPhoto1_@itemStep.CleaStepsNum"
                                                                   onchange="displaySelectedImage(this,'PreviewPhoto1_@itemStep.CleaStepsNum')" />

                                                                    <textarea asp-for="@itemStep.CleaText" class="form-control mt-2" name="CleaningSteps[@j].CleaText"></textarea>
                                                                    <span asp-validation-for="@itemStep.CleaText" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            @* زر إضافة خطوات جديدة *@
                            <tr>
                                <td colspan="1" style="text-align:right;">
                                    <button type="button" id="addStepButton3" class="btn btn-success my-3" onclick="AddnewRowstepsUpdate3('@Model.CleanViewModel.CleaningID')" abled>إضافة خطوات جديدة </button>
                                </td>
                            </tr>

                             
                                <div class="form-group">
                                    <input asp-for="CleanViewModel.CleaningID" hidden />
                                    <input asp-for="CleanViewModel.BrandFK" hidden />
                                    <label asp-for="CleanViewModel.Note" class="control-label"> ملاحظة </label>
                                    <textarea asp-for="@Model.CleanViewModel.Note" id="Note" class="form-control mt-2"> </textarea>
                                </div>
                            


                            @* أزرار الحفظ وحفظ التغييرات *@
                            <div class="form-group col-12 py-2">
                                <div style="text-align: left;">

                                    <div class="form-group col-12 py-3">
                                        <input type="submit" id="saveChange" value=" حفظ التغييرات" asp-action="Upsert3" asp-route-id="@Model.CleanViewModel.CleaningID" style="text-align:center" class="btn btn-primary me-3" abled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</body>

@section Scripts{


    <script src="~/Js/Clean/AddDLTsteps3.js"></script>
        }