@model ReadyFoodViewmodel

<div class="modal fade" id="CreateFinshFoods" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">إضافة منتجات جاهزة </h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form method="post" class="row" enctype="multipart/form-data" asp-action="createFoodfonsh" asp-controller="FinishProducts">

                    <input asp-for="tredMaeketReadyfoodVM.BrandID" hidden />
                    <input asp-for="tredMaeketReadyfoodVM.ID_Login" hidden />
                    <input asp-for="tredMaeketReadyfoodVM.BrandName" hidden />
                    <input asp-for="tredMaeketReadyfoodVM.Date" hidden />
                    <input asp-for="tredMaeketReadyfoodVM.BrandCoverImage" hidden />
                    <input asp-for="tredMaeketReadyfoodVM.BrandFooterImage" hidden />
                    <input asp-for="tredMaeketReadyfoodVM.BrandLogoImage" hidden />
                    <input asp-for="ReadyfoodVM.ReadyProductsID" hidden />


                    <table id="tblFinishFood" class="table table-style1 table-bordered table-striped" data-FinshFood-id="@Model.ReadyfoodVM.ReadyProductsID">
                        <thead>
                            <tr>
                                <th style="text-align:center  ;width:40%">
                                    اسم المنتج
                                </th>
                                <th style="text-align:center ;width:40%">
                                    صورة المنتج
                                </th>
                                <th colspan="1" style="text-align:right;">

                                    <button type="button" id="addToolButton5" class="btn btn-style1 fnt-white my-3 " onclick="AddnewFoodReady('@Model.tredMaeketReadyfoodVM.BrandID')" abled>إضافة منتجات جاهزة جديدة</button>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                    <div class="form-floating py-2 col-12">
                        @{
                            var sortedFoodsName = Model.FoodReadyVMorder.OrderBy(item => item.ReadyProductsOrder).ToList();
                        }
                        <select asp-for="ReadyfoodVM.ReadyProductsID" class="form-select" id="selectFoodvalues" name="selectFoodReadyValue">
                            <option value="" disabled selected>-- اختر مكان الصف الجديد--</option>
                            @foreach (var item in sortedFoodsName)
                            {
                                <option value="@item.ReadyProductsID"> @item.ReadyProductsName  </option>
                            }
                            <option value="0">اخر صف</option> <!-- The "Other" option -->
                        </select>
                    </div>

                    <div class="modal-footer">

                        <input type="submit" value=" حفظ" asp-route-id="@Model.tredMaeketReadyfoodVM.BrandID"
                               style="text-align:center" class="btn btn-style1 fnt-white me-3" id="submitButton5" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    function displaySelectedImage(input, imgId) {

        // Get the reference to the HTML img element based on the provided imgId
        var imgElement = document.getElementById(imgId);

        // Check if a file has been selected in the input element
        if (input.files && input.files[0]) {

            // Create a new FileReader object to read the selected file
            var reader = new FileReader();

            // Define an event handler for when the FileReader has finished reading the file
            reader.onload = function (e) {

                // Set the 'src' attribute of the img element to the read image data
                imgElement.src = e.target.result;
            };
            // Read the selected file as a data URL (base64 encoded)
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {

    <script src="~/Js/finshFood/AdddeleteReadyFoods.js"></script>
    <script src="~/Js/DeviceTools/FishFoodlist.js"></script>


}

