@model IEnumerable<ReadyProducts>

@{
    ViewData["Title"] = "FoodList";
}


<div class="card shadow border-0 my-4">
    <div class="card-header bg-navbar bf-bb bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fnt-blue py-2"> قائمة المنتجات الجاهزة  </h2>
            </div>
        </div>
    </div>


    <div class="card-body p-4">

        <table class="table  table-bordered table-striped py-5 mb-3 pb-4" id="tblFoodfinish" style="width:100%">
            <thead data-id="@TempData["ID"]">

                <tr class=" py-5 mb-3 pb-4">
                    <th style="text-align:center ;font-size:medium">
                        اسم المنتج
                    </th>
                    <th style="text-align:center ;font-size:medium">
                        صورة المنتج
                    </th>
                    
                    <th>
                         
                        <div style="text-align:center">
                            <div style="text-align:center">
                                <button type="button" class="btn btn-style2 fnt-white px-4 add-button"
                                        data-toggle="modal"
                                        data-target="#CreateFinshFoods"
                                        data-controller="FinishProducts"
                                        data-action="createFoodfonsh"
                                        data-id="@TempData["ID"]">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                                
                            </div>

                        </div>
                    </th>

                </tr>
            </thead>

            @*  <tbody class="container py-4 m-2">
            @foreach (var item in Model)
            {

            <tr>
            <td>
            <h3>@item.اسم_التحضير </h3>
            </td>
            <td style="text-align:center">
            <img class="card-img-right flex-auto d-none d-md-block" data- src="@item.الصورة_النهائية" alt="Card image cap" style="width:150px;height:100px">
            </td>
            <td class="mb-3" style="text-align:center">
            <div class="w-75 btn-group py-4" role="group">
            <a asp-controller="Preparation" asp-action="Upsert" asp-route-id="@item.التحضير_ID" class="btn btn-primary mx-2">
            <i class="bi bi-pencil-square"> </i> تعديل
            </a>

            <button type="button" class="bi bi-trash-fill btn btn-danger" onclick="DeletePreparationPost(@item.التحضير_ID)">حذف</button>
            <div class="row pb-3">
            </div>

            </div>
            </td>
            </tr>
            }


            </tbody> *@
        </table>
    </div>
</div>


@section Scripts {

    <script src="~/Js/finshFood/FoodfinishDeletelist.js"></script>
    <script src="~/Js/finshFood/AdddeleteReadyFoods.js"></script>
}
