@model ReadyFoodViewmodel

<body>
    <div class="card shadow border-0 my-4 py-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">
                         تعديل المنتجات الجاهزة 
                    </h2>
                </div>
            </div>
        </div>

     

        <form method="post" class="row" enctype="multipart/form-data" asp-action="FinishProductsIndex" asp-controller="FinishProducts">

            <div class="card-body p-4 py-4">
                <div class="border p-3">

                    @*added this class main-container-table*@
                    <div class="main-container-table">
                        @*<button class="btn dropdown-toggle float-end mb-2" id="button" onclick="showhide()"> المعلومات</button>*@
                        @*<div id="newpost">*@
                        @*<hr class="featurette-divider">*@


                        @*  <div class="form-group col-4 py-2 ">
                        <h4 style="text-align:right"> الخطوات</h4>
                        </div> *@
                        <table id="tblFinishFood" class="table table-bordered table-striped" data-FinshFood-id="@Model.ReadyfoodVM.ReadyProductsID">
                            <input asp-for="ReadyfoodVM.ReadyProductsID" hidden />
                            <input asp-for="ReadyfoodVM.BrandFK" hidden />
                           

                            <tbody>

                                @if (Model.ReadyfoodVM.ReadyProductsID != 0)
                                {

                                    @for (int i = 0; i < Model.readyfoodlistVM.Count; i++)
                                    {
                                        var itemFinshFood = Model.readyfoodlistVM[i];

                                        <tr>
                                            <td style="text-align:center;">
                                                <input asp-for="@itemFinshFood.BrandFK" name="readyfoodlistVM[@i].BrandFK" hidden />
                                                <input asp-for="@itemFinshFood.ReadyProductsID" name="readyfoodlistVM[@i].ReadyProductsID" hidden />
                                                <input asp-for="@itemFinshFood.ReadyProductsImage" name="readyfoodlistVM[@i].ReadyProductsImage" hidden />

                                                @if (!string.IsNullOrEmpty(itemFinshFood.ReadyProductsName) || !string.IsNullOrEmpty(itemFinshFood.ReadyProductsImage))
                                                {

                                                    <div class="col-12 text-center">
                                                        <div>
                                                           @*  <img id="PreviewPhoto1_@Model.readyfoodlistVM[i].ReadyProductsName"
                                                                 src="@Url.Content("~/IMAGES/منتجات_جاهزة/" + itemFinshFood.na+ "/"+ itemFinshFood.ID3 + "/" + itemFinshFood.ID +"/" +  itemFinshFood.صورة)"
                                                                 alt="Logo"
                                                                 width="125" height="125" style="border: 1px; margin-top: 20px;"> *@
                                                        </div>

                                                        <div class="form-group mt-2">
                                                            <input asp-for="@itemFinshFood.ReadyProductsName" id="اسم_المنتج_@Model.readyfoodlistVM[i]" oninput="updateFileNameInput(this)" class="form-control mt-2" name="readyfoodlistVM[@i].ReadyProductsName">
                                                            <input type="file" name="file1_@Model.readyfoodlistVM[i]" class="border-0 shadow mt-5" id="customFile1_@Model.readyfoodlistVM[i]" onchange="displaySelectedImage(this, 'PreviewPhoto1_@Model.readyfoodlistVM[i].ReadyProductsName')">

                                                            <span asp-validation-for="@itemFinshFood.ReadyProductsName" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                }
                                            </td>
                                       
                                        </tr>
                                    }
                                }
                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group col-12 py-2">
                <div style="text-align: left;">
                    @if (Model.ReadyfoodVM.BrandFK != 0)
                    {
                        <div class="form-group col-12 py-3">
                            <input type="submit" id="saveChange" value=" حفظ التغييرات"
                                   asp-action="FinishProductsIndex" asp-route-id="@Model.ReadyfoodVM.BrandFK"
                                   style="text-align:center" class="btn btn-primary me-3" abled />
                        </div>

                    }

                </div>
            </div>
        </form>
    </div>
</body>


<script>
    function displaySelectedImage(input, imgId) {

        // Get the reference to the HTML img element based on the provided imgId
        var imgElement = document.getElementById(imgId);

        // Check if a file has been selected in the input element
        if (input.files && input.files[0]) {

            // Create a new FileReader object to read the selected file
            var reader = new FileReader();

            // Define an event handler for when the FileReader has finished reading the file
            reader.onload = function (e) {

                // Set the 'src' attribute of the img element to the read image data
                imgElement.src = e.target.result;
            };
            // Read the selected file as a data URL (base64 encoded)
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<script>
    function updateFileNameInput(input) {
        var dynamicValue = input.value;
        var fileInput = input.closest('form').querySelector('[name^="file1_"]');

        // Check if the fileInput element is found before setting its name
        if (fileInput) {
            // Check if dynamicValue is not empty and has changed
            if (dynamicValue !== fileInput.value && dynamicValue.trim() !== "") {
                fileInput.name = `file1_${dynamicValue}`;
            }
        } else {
            console.error("File input element not found.");
        }
    }
</script>
@* @section Scripts {

    <script src="~/Js/DeviceTools/FishFoodlist.js"></script>
    <script src="~/Js/DeviceTools/AdddeleteFinshFood.js"></script>
}
 *@
