@model ReadyFoodViewmodel

<div class="modal fade" id="FinishProductIndex" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">تعديل منتجات جاهزة  </h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form method="post" class="row" enctype="multipart/form-data" asp-action="FinishProductsIndex" asp-controller="FinishProducts">


                    <table id="tblFinishFood" class="table table-bordered table-striped" data-FinshFood-id="@Model.ReadyfoodVM.ReadyProductsID">
                        <input asp-for="ReadyfoodVM.ReadyProductsID" hidden />
                        <input asp-for="ReadyfoodVM.BrandFK" hidden />


                        <tbody>

                            @if (Model.ReadyfoodVM.ReadyProductsID != 0)
                            {

                                @for (int i = 0; i < Model.readyfoodlistVM.Count; i++)
                                {
                                    var itemFinshFood = Model.readyfoodlistVM[i];

                                    <tr>
                                        <td style="text-align:center;">
                                            <input asp-for="@itemFinshFood.BrandFK" name="readyfoodlistVM[@i].BrandFK" hidden />
                                            <input asp-for="@itemFinshFood.ReadyProductsID" name="readyfoodlistVM[@i].ReadyProductsID" hidden />
                                            <input asp-for="@itemFinshFood.ReadyProductsImage" name="readyfoodlistVM[@i].ReadyProductsImage" hidden />

                                            @if (!string.IsNullOrEmpty(itemFinshFood.ReadyProductsName) || !string.IsNullOrEmpty(itemFinshFood.ReadyProductsImage))
                                            {

                                                <div class="col-12 text-center">
                                                    <div>
                                                        <img id="PreviewPhoto1_@itemFinshFood.ReadyProductsID"
                                                             src="@Url.Content("~/IMAGES/" + Model.ReadyfoodVM.BrandFK + "/ReadyProducts/" + Model.ReadyfoodVM.ReadyProductsID + "/" + Model.ReadyfoodVM.ReadyProductsImage)"
                                                             alt="Logo"
                                                             width="125" height="125" style="border: 1px; margin-top: 20px;">  
                                                    </div>

                                                    <div class="form-group mt-2">
                                                        <input type="file" name="file1_@itemFinshFood.ReadyProductsID" class="border-0 shadow mt-5" id="customFile1_@itemFinshFood.ReadyProductsID" onchange="displaySelectedImage(this, 'PreviewPhoto1_@itemFinshFood.ReadyProductsID')">

                                                        <textarea asp-for="@itemFinshFood.ReadyProductsName" class="form-control mt-2" name="readyfoodlistVM[@i].ReadyProductsName"></textarea>
                                                        <span asp-validation-for="@itemFinshFood.ReadyProductsName" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            }
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <input type="submit" id="saveChange" value=" حفظ التغييرات"
                         asp-action="FinishProductsIndex" asp-route-id="@Model.ReadyfoodVM.ReadyProductsID"
                               style="text-align:center" class="btn btn-style1 fnt-white me-3" abled />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 
 
@section Scripts {

    <script src="~/Js/DeviceTools/FishFoodlist.js"></script>
    <script src="~/Js/DeviceTools/AdddeleteFinshFood.js"></script>
}

