@model LoginTredMarktViewModel

<header>
    <div>
        @await Html.PartialAsync("_HeaderPartialAdmin", Model.WelcomtredmarketDeviceTools)
    </div>
</header>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-navbar bf-bb bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fnt-blue py-2"> قائمة الأجهزة والأدوات </h2>
            </div>
        </div>
    </div>

    <div class="row pt-5 justify-content-between">
        <div class="form-group col-4 d-flex justify-content-between">
            @if (User.IsInRole(SD.Role_Manager) || User.IsInRole(SD.Role_User))
            {
                <button type="button" class="btn btn-style2 px-4 add-button"
                        data-toggle="modal"
                        data-target="#CreateDeviceToolsAdmin"
                        data-controller="SectionDetailsDevice_Tools"
                        data-action="CreateDeviceToolsAdmin"
                        data-id="@TempData["ID"]">
                    <i class="bi bi-plus-circle"></i>إضافة أجهزة جديدة
                </button>
            }
           @*  @if (Model.DeviceToolsLoginVMlist != null && Model.DeviceToolsLoginVMlist.Any())
            {
                <a class=" btn btn-style2 fnt-white px-4 " href="@Url.Action("RedirectToUpdateMainSection",
                                "Sections", new {area = "Admin", brandFK = Model.WelcomtredmarketDeviceTools.TredMarktVM.BrandID })">

                    <i></i>الأقسام الرئيسية
                </a>
            }
            else
            { *@
                <a class=" btn btn-style2 fnt-white px-4 " href="@Url.Action("RedirectToAddMainSection",
                                "Sections", new {area = "Admin", brandFK = Model.WelcomtredmarketDeviceTools.TredMarktVM.BrandID })">

                    <i></i>الأقسام الرئيسية
                </a>
            @* } *@
        </div>
    </div>
    <div class="card-body p-4">
        @if (Model.DeviceToolsLoginVMlist != null && Model.DeviceToolsLoginVMlist.Any())
        {
            <table class="table table-style1 table-bordered table-striped " id="tblDatadevice" style="width:100%">
                <thead data-id="@TempData["ID"]">

                    <tr class=" py-5 mb-3 pb-4">
                        <th style="text-align:center ;font-size:medium">
                            اسم الجهاز أو الأداة
                        </th>
                        <th style="text-align:center ;font-size:medium">
                            صورة الجهاز أو الاداة
                        </th>

                        <th>
                         
                        </th>

                    </tr>
                </thead>

            </table>
        }
        else
        {
            <p class="text-center">لا توجد اجهزة وأدوات </p>
        }
    </div>
</div>


@section Scripts {
    @if (Model.DeviceToolsLoginVMlist != null && Model.DeviceToolsLoginVMlist.Any())
    {
        <script src="~/Js/DeviceToolsAdmin/DeletelistDeviceAdmin.js"></script>
        <script src="~/Js/DeviceToolsAdmin/AdddeleteToolsDeviceAdmin.js"></script>
    }
    <script src="~/Js/DeviceToolsAdmin/AdddeleteToolsDeviceAdmin.js"></script>

    <script>
        var isManager = '@(User.IsInRole(SD.Role_Manager) ? "true" : "false")';
        var isUser = '@(User.IsInRole(SD.Role_User) ? "true" : "false")';

        // Combine the conditions in JavaScript
        var userRole = (isManager === "true" || isUser === "true") ? "true" : "false";
    </script>
}


