@model LoginTredMarktViewModel;

<header>
    <div>
        @await Html.PartialAsync("_HeaderPartial", Model.welcomTredmarketProduction)
    </div>
</header>
<body>
    <div class="card shadow border-0 my-4 py-4">
        <div class="card-header bg-navbar bf-bb bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">

                    <h2 class="fnt-blue py-2">   تعديل الأصناف </h2>
                </div>
            </div>
        </div>

        <form method="post" class="row" enctype="multipart/form-data" data-id="@TempData["ID"]" id="myForm">
            <input asp-for="Productionvm.ProductionID" hidden />
            <input asp-for="Productionvm.ProductType" hidden />
            <input asp-for="Productionvm.ProductImage" hidden />
            <input asp-for="Productionvm.BrandFK" hidden />
            <input asp-for="TredMarktVM.BrandID" hidden />
            <input asp-for="TredMarktVM.BrandName" hidden />
            <input asp-for="TredMarktVM.Date" hidden />
            <input asp-for="TredMarktVM.BrandCoverImage" hidden />
            <input asp-for="TredMarktVM.BrandFooterImage" hidden />
            <input asp-for="TredMarktVM.BrandLogoImage" hidden />
            @* <input type="hidden" id="order-input" name="Productionvm.Order" value="0.1" />*@


            <div class="card-body p-4 py-4">
                <div class="border p-3">



                    @*added this class main-container-table*@
                    <div class="main-container-table">

                        <div id="exTab111" class="container">
                            <!-- Tab table -->
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="active">
                                            <a href="@Url.Action("RedirectToInormation1", "Production", new {ProductionID = Model.Productionvm.ProductionID, brandFK = Model.welcomTredmarketProduction.TredMarktVM.BrandID })">المعلومات</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("RedirectToComponent1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.Productionvm.BrandFK })">المكونات</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("RedirectToTools1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.Productionvm.BrandFK })">الأدوات</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("RedirectToSteps1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.Productionvm.BrandFK })">الخطوات</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <h4 style="text-align:right" class="px-2 py-3">الخطوات</h4>
                            </div>

                                  <table id="tblSteps2" class="table table-bordered table-striped" data-Production-id="@Model.Productionvm.ProductionID">

                            <tbody>
                                @if (Model.Productionvm.ProductionID != 0)
                                {
                                    for (int i = 0; i < Model.stepsVM2.Count; i += 2) // Increment by 2
                                    {
                                        <tr>
                                            @for (int j = i; j < i + 2 && j < Model.stepsVM2.Count; j++) // Loop twice for two steps
                                            {
                                                var itemStep = Model.stepsVM2[j];

                                                <td style="text-align:center;">
                                                    <input asp-for="@itemStep.ProdStepsID" name="stepsVM2[@j].ProdStepsID" hidden />
                                                    <input type="hidden" asp-for="@itemStep.ProductionFK" name="stepsVM2[@j].ProductionFK" />
                                                    <input asp-for="@itemStep.ProdSImage" name="stepsVM2[@j].ProdSImage" hidden />
                                                    <input asp-for="@itemStep.ProdStepsNum" name="stepsVM2[@j].ProdStepsNum" hidden />

                                                    @if (!string.IsNullOrEmpty(itemStep.ProdText) || !string.IsNullOrEmpty(itemStep.ProdSImage) || itemStep.ProdStepsNum != 0)
                                                    {
                                                        <div class="py-5">
                                                            <button type="button" class="btn btn-danger delete-button"
                                                                    id="deleteButton_@j"
                                                                    onclick="Deletestep(@itemStep.ProdStepsID)">
                                                                حذف
                                                            </button>
                                                        </div>
                                                        <div class="col-12 text-center">
                                                            <div>
                                                                @itemStep.ProdStepsNum
                                                            </div>
                                                            <div>
                                                                <img src="@Url.Content("~/IMAGES/"  + itemStep.ProdStepsID + "/" + itemStep.ProdSImage)"
                                                                     id="PreviewPhoto1_@itemStep.ProdStepsID" width="125" height="125" style="border: 1px; margin-top: 20px;">
                                                            </div>
                                                            <div class="form-group mt-2">
                                                                <input type="file" name="file1_@itemStep.ProdStepsID" class="border-0 shadow mt-5" id="customFile1_@itemStep.ProdStepsID"
                                                                       data-preview-id="PreviewPhoto1_@itemStep.ProdStepsID"
                                                                       onchange="displaySelectedImage(this,'PreviewPhoto1_@itemStep.ProdStepsID')" />

                                                                <textarea asp-for="@itemStep.ProdText" class="form-control mt-2" name="stepsVM2[@j].ProdText"></textarea>
                                                                <span asp-validation-for="@itemStep.ProdText" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table> 

                            @* أزرار إضافة خطوات جديدة *@
                           <tr>
                                <td colspan="1" style="text-align:right;">

                                <button type="button" id="addStepButton" class="btn btn-style3 my-3" onclick="AddnewRowstepsUpdate2('@Model.Productionvm.ProductionID')" abled>إضافة خطوات جديدة </button>

                                </td>
                            </tr> 
                           

                        

                        
                        @* أزرار الحفظ *@
                        <div class="form-group col-12 py-2">
                            <div style="text-align: left;">

                                    <div class="form-group col-12 py-3 fxcc">
                                        <input type="submit" id="saveChange"
                                               value=" حفظ التغييرات" href="@Url.Action("RedirectToSteps1",
                                        "Production", new { ProductionID = Model.Productionvm.ProductionID,brandFK = Model.welcomTredmarketProduction.TredMarktVM.BrandID })" style="text-align:center" class="btn btn-style1 fnt-white me-3" abled />
                                    </div>
                            </div>
                        </div> 
                        
                        </div>
                        </div>
                        </div>
                        </div>
        </form>
    </div>
</body>





@section Scripts{

    <script src="~/Js/Production/AddDLTsteps2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        }
