@model LoginTredMarktViewModel;

<header>
    <div>
        @await Html.PartialAsync("_HeaderPartial", Model.welcomTredmarketProduction)
    </div>
</header>
<body>
    <div class="card shadow border-0 my-4 py-4">
        <div class="card-header bg-navbar bf-bb bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">

                    <h2 class="fnt-blue py-2">   تعديل الإنتاج </h2>
                </div>
            </div>
        </div>

        <form method="post" class="row" enctype="multipart/form-data" data-id="@TempData["ID"]" id="myForm">
            <input asp-for="Productionvm.ProductionID" hidden />
            <input asp-for="Productionvm.ProductType" hidden />
            <input asp-for="Productionvm.ProductImage" hidden />
            <input asp-for="Productionvm.BrandFK" hidden />
            <input asp-for="TredMarktVM.BrandID" hidden />
            <input asp-for="TredMarktVM.BrandName" hidden />
            <input asp-for="TredMarktVM.Date" hidden />
            <input asp-for="TredMarktVM.BrandCoverImage" hidden />
            <input asp-for="TredMarktVM.BrandFooterImage" hidden />
            <input asp-for="TredMarktVM.BrandLogoImage" hidden />
            @* <input type="hidden" id="order-input" name="Productionvm.Order" value="0.1" />*@


            <div class="card-body p-4 py-4">
                <div class="border p-3">



                    @*added this class main-container-table*@
                    <div class="main-container-table">

                        <div id="exTab111" class="container">
                            <!-- Tab table -->
                            <table class="table table-bordered">
                                <!-- Information Tab -->
                                <td class="active">

                                    <a href="@Url.Action("RedirectToInormation1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.welcomTredmarketProduction.TredMarktVM.BrandID })">المعلومات</a>

                                </td>
                                <!-- Components Tab -->
                                <td>
                                    @if (Model.Productionvm.ProductionID != 0)
                                    {
                                        <a href="@Url.Action("RedirectToComponent1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.Productionvm.BrandFK })">المكونات</a>
                                    }
                                    else
                                    {
                                        <span>المكونات</span>
                                    }
                                </td>
                                <!-- Tools Tab -->
                                <td>
                                    @if (Model.Productionvm.ProductionID != 0)
                                    {
                                        <a href="@Url.Action("RedirectToTools1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.Productionvm.BrandFK })">الأدوات</a>
                                    }
                                    else
                                    {
                                        <span>الأدوات</span>
                                    }
                                </td>
                                <!-- Steps Tab -->
                                <td>
                                    @if (Model.Productionvm.ProductionID != 0)
                                    {
                                        <a href="@Url.Action("RedirectToSteps1", "Production", new { ProductionID = Model.Productionvm.ProductionID, brandFK = Model.Productionvm.BrandFK })">الخطوات</a>
                                    }
                                    else
                                    {
                                        <span>الخطوات</span>
                                    }
                                </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <h4 style="text-align:right" class="px-2 py-3">الادوات</h4>
                            </div>

                                   <table id="tblToolVarity2" class="table table-style1 table-bordered table-striped" data-Production-id="@Model.Productionvm.ProductionID">
                            <thead>
                                <tr>
                                    <th class="col-1">رقم الأداة</th>
                                    <th class="col-9"> الأدوات المستخدمة</th>

                                    <th style="text-align:center;">

                                       
                                        <button type="button" class="btn btn-style2 fnt-white " onclick="AddRowTool2('@Model.Productionvm.ProductionID')">إضافة</button>


                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Productionvm.ProductionID != 0)
                                {
                                    @for (int i = 0; i < Model.ToolsVarityVM2.Count; i++)
                                    {
                                        var item = Model.ToolsVarityVM2[i];
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>

                                                <input asp-for="@item.ProdToolsID" name="ToolsVarityVM2[@i].ProdToolsID" hidden />
                                                <input asp-for="@item.ProductionFK" name="ToolsVarityVM2[@i].ProductionFK" hidden />

                                                <input asp-for="@item.ProdTools" class="form-control" name="ToolsVarityVM2[@i].ProdTools" />
                                                <span asp-validation-for="@item.ProdTools" class="text-danger"></span>
                                            </td>

                                            <td style="text-align:center;">
                                                <button type="button" class="btn btn-danger" onclick="DeleteToolVariety2(@item.ProdToolsID)">حذف</button>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table> 
                        <div class="form-group col-12 py-2">
                            <div style="text-align: left;">

                                    <div class="form-group col-12 py-3 fxcc">
                                        <input type="submit" id="saveChange"
                                               value=" حفظ التغييرات" href="@Url.Action("RedirectToTools1",
                                        "Production", new { ProductionID = Model.Productionvm.ProductionID,brandFK = Model.welcomTredmarketProduction.TredMarktVM.BrandID })" style="text-align:center" class="btn btn-style1 fnt-white me-3" abled />
                                    </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
        </form>
    </div>
</body>





@section Scripts{

    <script src="~/Js/Production/Toolsvariety2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        }
