@model FoodVM

<div class="modal fade" id="FoodIndex" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle"> تعديل المواد الغذائية  </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form method="post" class="row" enctype="multipart/form-data" asp-action="FoodIndex" asp-controller="Food">


                    <input asp-for="FoodViewM.BrandFK" hidden />
                    <input asp-for="FoodViewM.FoodStuffsID" hidden />


                    <table id="tblFood" class="table table-bordered table-striped" data-Food-id="@Model.FoodViewM.BrandFK">

                        <tbody>
                            @if (Model.FoodViewM.FoodStuffsID != 0)
                            {
                                @for (int i = 0; i < Model.FoodViewMList.Count; i++)
                                {
                                    var itemFood = Model.FoodViewMList[i];
                                    <tr>
                                        <td style="text-align:center;">

                                            <input asp-for="@itemFood.FoodStuffsID" name="FoodViewMList[@i].FoodStuffsID" hidden />
                                            <input asp-for="@itemFood.BrandFK" name="FoodViewMList[@i].BrandFK" hidden />

                                            <input asp-for="@itemFood.FoodStuffsImage" name="FoodViewMList[@i].FoodStuffsImage" hidden />



                                            @if (!string.IsNullOrEmpty(itemFood.FoodStuffsName) || !string.IsNullOrEmpty(itemFood.FoodStuffsImage))
                                            {

                                                <div class="col-12 text-center">


                                                    <div>
                                                        <img id="PreviewPhoto1_@Model.FoodViewMList[i].FoodStuffsID"
                                                             src="@Url.Content("~/IMAGES/" + Model.FoodViewM.BrandFK + "/FoodStuffs/" + Model.FoodViewM.FoodStuffsID + "/" + Model.FoodViewM.FoodStuffsImage)"
                                                             alt="Logo"
                                                             width="125" height="125" style="border: 1px; margin-top: 20px;">
                                                    </div>

                                                    <div class="form-group mt-2">
                                                        <input type="file" name="file1_@Model.FoodViewMList[i]" class="border-0 shadow mt-5" id="customFile1_@Model.FoodViewMList[i]" onchange="displaySelectedImage(this, 'PreviewPhoto1_@Model.FoodViewMList[i].FoodStuffsID')">

                                                        <textarea asp-for="@itemFood.FoodStuffsName" class="form-control mt-2" name="stepsVM[@i].FoodStuffsName"></textarea>
                                                        <span asp-validation-for="@itemFood.FoodStuffsName" class="text-danger"></span>


                                                    </div>
                                                </div>
                                            }
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="saveChange" class="btn btn-primary">حفظ التغييرات</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


 

@section Scripts {

    <script src="~/Js/Foodjs/FoodDeletelist.js"></script>
    <script src="~/Js/Foodjs/AdddeleteFoods.js"></script>


}


@* @section Scripts {

    <script src="~/Js/Foodjs/FoodDeletelist.js"></script>
    <script src="~/Js/Foodjs/AdddeleteFood.js"></script>
}
 *@
