@model LoginTredMarktViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar">

<body>
    @{
        int pageNum = 1;
    }
    @if (pageNum == 1)
    {
        var DeviceToolsSections = Model.MainsectionVMlist.Where(s => s.SectionsName == "المنتجات الجاهزة").ToList();

        @for (int i = 0; i < DeviceToolsSections.Count; i++)
        {
            var mainSection = DeviceToolsSections[i];

            <input asp-for="@mainSection.MainSectionsID" name="mainSection[@i].MainSectionsID" hidden />
            <input asp-for="@mainSection.BrandFK" name="mainSection[@i].BrandFK" hidden />

            if (mainSection.SectionsName == "المنتجات الجاهزة")
            {
                <!-- First Page with Image and Title -->
                <div class="page">
                    <div class="header-cover">
                        <h2 class="title-cover">المنتجات الجاهزة </h2>
                    </div>
                    @if (mainSection.SectionsImage == null)
                    {
                        <div class="content-cover-step-section">
                            <img src="https://manuals.befranchisor.com/IMAGES/@(Model.TredMarktVM.BrandID)/@(Model.TredMarktVM.BrandCoverImage)" alt="Device Image" />

                        </div>
                    }
                    else
                    {
                        <div class="content-cover-step-section">
                            <img src="https://manuals.befranchisor.com/IMAGES/@(mainSection.MainSectionsID)/@(mainSection.SectionsImage) " alt="Image" />
                        </div>
                    }
                    <div class="page-number"> @Model.PageNumber</div> <!-- رقم الصفحة في الفوتر -->
                    @{
                        Model.PageNumber++;
                    }
                </div>
            }
        }

        // بعد الحلقة، قم بزيادة رقم الصفحة
        pageNum++;
    }
    <div class="page-break"></div>
    <!-- Subsequent Pages with Items -->
    @{
        int itemsPerPage = 4;
        int pageCount = (int)Math.Ceiling((double)Model.ReadyFoodLoginVMlist.Count / itemsPerPage);
    }

    @for (int pageIndex = 0; pageIndex < pageCount; pageIndex++)
    {
        <div class="page">
            <header class="header">
                <img src="https://manuals.befranchisor.com/IMAGES/@(Model.TredMarktVM.BrandID)/@(Model.TredMarktVM.BrandLogoImage)" alt="Brand Logo" class="logo-img" />
                <h2 class="title">المنتجات الجاهزة</h2>
            </header>
            <div class="separator-header"></div>

            <div class="items-wrapper-section">
                @{
                    int startIndex = pageIndex * itemsPerPage;
                    int endIndex = Math.Min(startIndex + itemsPerPage, Model.ReadyFoodLoginVMlist.Count);
                    for (int i = startIndex; i < endIndex; i++)
                    {
                        var itemFood = Model.ReadyFoodLoginVMlist[i];
                        <div class="item-container-finish">

                            <img src="/IMAGES/@(itemFood.ReadyProductsID)/@(itemFood.ReadyProductsImage)" alt="Image" class="product-image" />
                            <p>@itemFood.ReadyProductsName</p>

                            <div class="separator"></div>
                        </div>
                    }
                }
            </div>

            <footer class="footer">
                <img src="https://manuals.befranchisor.com/IMAGES/@(Model.TredMarktVM.BrandID)/@(Model.TredMarktVM.BrandFooterImage)" alt="Footer Image" />
                <div class="page-number"> @Model.PageNumber</div> <!-- رقم الصفحة في الفوتر -->
                @{
                    Model.PageNumber++;
                }
            </footer>

            @if (pageIndex < pageCount - 1)
            {
                <div class="page-break"></div>
            }
        </div>
    }
    <div class="page-break"></div>
</body>
</html>