@model LoginTredMarktViewModel

<div class="main-container" style="text-align: center;">
    <h1> مرحبا , @Model.LoginVM.Username!</h1>


    <div class="container main-sec">
        @foreach (var item in Model.tredList)
        {
            <div class="row">
                <a href="@Url.Action("WelcomTredMarket", "Home", new { id = item.BrandID })">
                    @item.BrandName
                    <img class="card-img-right flex-auto d-none d-md-block" src="@Url.Content("~/IMAGES/" + item.BrandID + "/BRAND/" +   item.BrandLogoImage)" alt="Card image cap" style="width: 150px; height: 100px">
 
                </a>
            </div>
        }
    </div>
 
    <div class="last-login-div"> 
        <p> اخر تسجيل للدخول كان في :  @(Model.TredMarktVM.Date.HasValue ? Model.TredMarktVM.Date.Value.ToString("dd/MM/yyyy HH:mm:ss") : "No previous login recorded")</p>
    </div>
</div>
