@model LoginTredMarktViewModel

<header>
    <nav class="navbar navbar-light bg-white me-auto">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="@Url.Content("~/IMAGES/BRAND/" + Model.TredMarktVM.BrandID + "/" + Model.TredMarktVM.BrandCoverImage)"
                     class="me-2"
                     height="30"
                     alt=" Logo" />

                <small>  @Model.TredMarktVM.BrandName </small>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start text-bg-dark bg-navbar" tabindex="-4" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header bg-navbar">
                    <h4  id="offcanvasDarkNavbarLabel">قم بالتعديل</h4>
                    <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body bg-navbar">
                    <nav id="TableOfContents me-auto " >
                        <div class="bd-toc mt-3 mb-4 my-md-0 ps-xl-2 mb-lg-4 text-muted">
                            <strong class="d-block h6 my-2 pb-2 border-bottom"></strong>

                            <nav id="TableOfContents " >
                                <ul class="navbar-nav flex-grow-1">
                                    @if (Model.DeviceToolsLoginVM == null || Model.DeviceToolsLoginVM.BrandFK == null || Model.DeviceToolsLoginVM.BrandFK == 0)
                                    {
                                        <li class="nav-item border p-2 mt-2  "><a class="nav-link  " >الأجهزةوالأدوات</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item border p-2 mt-2">
                                            <a class="nav-link" href="@Url.Action("RedirectToDeviceToolsList", "Device_tool", new { brandFK = Model.DeviceToolsLoginVM.BrandFK })">الأجهزةوالأدوات</a>
                                        </li>
                                    }

                                    @if (Model.FoodLoginVM == null || Model.FoodLoginVM.BrandFK == null || Model.FoodLoginVM.BrandFK == 0)
                                    {
                                        <li class="nav-item border p-2 mt-2  "><a class="nav-link  " >المواد الغذائية</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item border p-2 mt-2">
                                            <a class="nav-link" href="@Url.Action("RedirectToFoodList", "Food", new { brandFK = Model.FoodLoginVM.BrandFK })">المواد الغذائية</a>
                                        </li>
                                    }

                                    @if (Model.PreparatonLoginVM == null || Model.PreparatonLoginVM.BrandFK == null || Model.PreparatonLoginVM.BrandFK == 0)
                                    {
                                        <li id="navPreparationNoID" class="nav-item border p-2 mt-2">
                                            <a class="nav-link">التحضيرات</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li id="navPreparationWithID" class="nav-item border p-2 mt-2">
                                            <a class="nav-link"
                                               asp-controller="Preparation" asp-route-id="@Model.PreparatonLoginVM.BrandFK"
                                               asp-action="PreparationList">التحضيرات</a>
                                        </li>
                                    }

                                    @if (Model.ProductionLoginVM == null || Model.ProductionLoginVM.BrandFK == null || Model.ProductionLoginVM.BrandFK == 0)
                                    {
                                        <li class="nav-item border p-2 mt-2  ">
                                            <a class="nav-link  " >الانتاج</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item border p-2 mt-2  ">
                                            <a class="nav-link  " asp-controller="Production"
                                               asp-route-id="@Model.ProductionLoginVM.BrandFK" asp-action="ProductionList">الانتاج</a>
                                        </li>
                                    }

                                    @if (Model.ReadyFoodLoginVM == null || Model.ReadyFoodLoginVM.BrandFK == null || Model.ReadyFoodLoginVM.BrandFK == 0)
                                    {
                                        <li class="nav-item border p-2 mt-2  "><a class="nav-link  "> المنتجات الجاهزة</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item border p-2 mt-2">
                                            <a class="nav-link" href="@Url.Action("RedirectToFinishProductionList", "FinishProducts", new { brandFK = Model.ReadyFoodLoginVM.BrandFK })">المنتجات الجاهزة</a>
                                        </li>
                                    }

                                    @if (Model.CleanLoginVM == null || Model.CleanLoginVM.BrandFK == null || Model.CleanLoginVM.BrandFK == 0)
                                    {
                                        <li class="nav-item border p-2 mt-2  "><a class="nav-link  "> التنظيف</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item border p-2 mt-2  "><a class="nav-link  " asp-area="" asp-controller="Clean" asp-action="CleanList" asp-route-id="@Model.CleanLoginVM.BrandFK"> التنظيف</a></li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</header>


<body>
    <div class="row custom-row">

        @Model.TredMarktVM.BrandName
        <img class="card-img-right flex-auto d-none d-md-block" src="@Url.Content("~/IMAGES/BRAND/" + Model.TredMarktVM.BrandID + "/" + Model.TredMarktVM.BrandLogoImage)" alt="Card image cap" style="width: 150px; height: 100px">

    </div>
</body>


