@* @model LoginTredMarktViewModel
@{
    var foodStuffsId = ViewData["FoodStuffsID"] as int?;
    var brandFK = ViewData["BrandFK"] as int?;

}
<div class="modal fade" id="FoodsIndex" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle"> تعديل المواد الغذائية  </h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form method="post" class="row" enctype="multipart/form-data" asp-action="FoodIndex" asp-controller="Food">


                    <input asp-for="FoodLoginVM.BrandFK" hidden />
                    <input asp-for="FoodLoginVM.FoodStuffsID" hidden />


                    <table id="tblFood" class="table table-bordered table-striped">

                        <tbody>
                           
                                @for (int i = 0; i < Model.FoodLoginVMlist.Count; i++)
                                {
                                    var itemFood = Model.FoodLoginVMlist[i];
                                    <tr>
                                        <td style="text-align:center;">

                                            <input asp-for="@itemFood.FoodStuffsID" name="FoodLoginVMlist[@i].FoodStuffsID" hidden />
                                            <input asp-for="@itemFood.BrandFK" name="FoodLoginVMlist[@i].BrandFK" hidden />

                                            <input asp-for="@itemFood.FoodStuffsImage" name="FoodLoginVMlist[@i].FoodStuffsImage" hidden />



                                            @if (!string.IsNullOrEmpty(itemFood.FoodStuffsName) || !string.IsNullOrEmpty(itemFood.FoodStuffsImage))
                                            {

                                                <div class="col-12 text-center">

                                                    <div>
                                                        <img id="PreviewPhoto1_@itemFood.FoodStuffsID"
                                                             src="/IMAGES/@(Model.FoodLoginVM.FoodStuffsID)/@(Model.FoodLoginVM.FoodStuffsImage)"
                                                             alt="Logo"
                                                             width="125" height="125" style="border: 1px; margin-top: 20px;">
                                                    </div>

                                                    <div class="form-group mt-2">
                                                        <input type="file" name="file1_@itemFood.FoodStuffsID" class="border-0 shadow mt-5" id="customFile1_@itemFood.FoodStuffsID" onchange="displaySelectedImage(this, 'PreviewPhoto1_@itemFood.FoodStuffsID')">

                                                        <textarea asp-for="@itemFood.FoodStuffsName" class="form-control mt-2" name="FoodLoginVMlist[@i].FoodStuffsName"></textarea>
                                                        <span asp-validation-for="@itemFood.FoodStuffsName" class="text-danger"></span>


                                                    </div>
                                                </div>
                                            }
                                        </td>

                                    </tr>
                                }
                           
                        </tbody>
                    </table>

                    <div class="modal-footer">

                        <button type="submit" id="saveChange" class="btn btn-style1 fnt-white">حفظ التغييرات</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>




@section Scripts {

    <script src="~/Js/Foodjs/FoodDeletelist.js" asp-append-version="true"></script>
    <script src="~/Js/Foodjs/AdddeleteFoods.js" asp-append-version="true"></script>


}


 *@